/* Contenedor principal */
.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    background-color: #f2d8c2;
    align-items: center
}

.top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Título "Science Gateway */
.title {
    font-size: 2em;
    font-weight: 600;
    width: fit-content;
    margin: 0;
    color: #990000;
    padding: 0.75rem 2rem;
}

/* Menú de navegación */
.navigation_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    margin: 0 3rem 0 auto;
    padding: 0.75rem 2rem;
}

.navigation_menu ul {
    display: flex;
    list-style: none;
    gap: 1.5rem
}

.navigation_menu a {
    text-decoration: none;
    color: #BF5050;
}

.divider {
    margin: 0;
    padding: 0;
    background-color: #bf7e78;
}

.bottom_section {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0.75rem 2rem;
}

.title_left_section {
    font-size: 17px;
    color: #BF7E78;
    margin: 80px 0 0 0;
}

.subtitle_left_section {
    font-size: 48px;
    color: #BF5050;
    margin: 0;
}

.text_left_section {
    font-size: 17px;
    color: #BF5050;
}

.button_left_section {
    background-color: #990000;
    color: #f5f5f5;
    border: none;
    width: 185px;
    height: 73px;
    cursor: pointer;
    margin: 0 0 140px 0;
}

.right_section {
    display: flex;
    justify-content: center;
    align-items: center;
}