.info_box {
    position: relative;
    transform: translateY(-40%);
    padding: 1rem;
}

.card_grid {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

.card {
    background-color: #c45656;
    color: white;
    padding: 1.4rem;
    flex: 1 1 30%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 0.9rem;
}

.card p {
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.mid_card {
    background-color: #BF7E78;
    color: white;
    padding: 1.4rem;
    flex: 1 1 30%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mid_card h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 0.9rem;
}

.mid_card p {
    margin: 1rem 0;
    font-size: 0.8rem;
}

.arrow-icon {
    align-self: flex-end;
    font-size: 41rem;
    font-weight: 900;
}