.about_section {
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;
}

.about_section_left {
    background-color: #BF7E78;
    width: 50%;
}

.about_section_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.about_section_title {
    color: #BF5050;
}

.about_section_text {
    color: #A63372;
}

.team_section {
    display: grid;
}

.team_section_container {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 2rem;
    padding: 2rem;
}